.projectLink {
  display: block;
  text-decoration: none;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.projectLink:hover {
  font-family: Kontrapunkt-Bold;
}

@media only screen and (max-width: 600px) {
  .projectLink {
    margin: 0 0.8rem 0.5em 0;
  }

  .projectLink:hover {
    font-family: Kontrapunkt;
  }
}
