.container {
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-auto-rows: 250px;
  justify-content: start;
  margin: 1rem 1rem 1rem 0;
}

.mpu {
  border: none;
  width: 300px;
  height: 250px;
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 0rem;
    margin: 0 0 1rem 0;
  }

  .mpu {
    position: relative;
    top: 0px;
    left: 0px;
    transform: translate(0, 0);
    margin-bottom: 1rem;
  }
}
